{% extends 'base.html' %}
{% block body_block %}

        <form id=”make_course” method="POST">
            {% csrf_token %}
            {{  form.as_p }}
{#            <input name=”department” placeholder="Department">#}
{#            <input name=”name” placeholder="Name">#}
{#            <input name=”course_number” placeholder="Course Number">#}
{#            <input name=”group_number” placeholder="Group Number">#}
{#            <input name=”teacher” placeholder="Teacher">#}
{#            <input name=”start_time” placeholder="Start Time">#}
{#            <input name=”end_time” placeholder="End Time">#}
{#            <select name=”first_day”>#}
{#                <option value=”0”>Saturday</option>#}
{#                <option value=”1”>Sunday</option>#}
{#                <option value=”2”>Monday</option>#}
{#                <option value=”3”>Tuesday</option>#}
{#                <option value=”4”>Wednesday</option>#}
{#            </select>#}
{#            <select name=”second_day”>#}
{#                <option value=”0”>Saturday</option>#}
{#                <option value=”1”>Sunday</option>#}
{#                <option value=”2”>Monday</option>#}
{#                <option value=”3”>Tuesday</option>#}
{#                <option value=”4”>Wednesday</option>#}
{#            </select>#}
            <button type="submit">Submit form</button>
            </form>
{% endblock %}