{% extends 'base.html' %}
{% block body_block %}
  <h2 id="welcomemessage">خوش آمدید</h2>
            {% for stu in course %}
                <div id="all_courses">
                    <div class="{{ stu.course_number }}_{{ stu.group_number }}">
                        <h4>{{ stu.name }}</h4>
                        <div>{{ stu.department }}</div>
{#                        #<div>{{ stu. }}</div>#}
                        <div>{{ stu.start_time }} {{ stu.end_time }}</div>
                        <div>{{ stu.teacher }}</div>
                    </div>
                </div>
          {% endfor %}

    <form id="search_form" method="POST">
    {% csrf_token %}
        <input name="search_query" type="text">
        <button type="submit" name="submit">Submit</button>
        {% for stu in object_list %}
            {{ stu }}
        {% endfor %}
    </form>


{% endblock %}