<html>
    <head>
    </head>
    <body>
        <nav>
            {% if user.is_authenticated %}
           <div id="navbar">
               <a id="homepage" href="/">Home Page</a>
               <a id="logout" href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div id="navbar">
                <a id="login" href="{% url 'login' %}">Login</a>
                <a id="register" href="{% url 'signup' %}">Register</a>
                <a id="homepage" href="/">Home Page</a>
            </div>
            {% endif %}
        </nav>
    {%  block body_block %}
        سلام. به سامانه‌ی انتخاب واحد مجازی خوش آمدید.
                {% endblock %}
    </body>
</html>