{% extends 'base.html' %}
{% block body_block %}

    <form method="post" id="contact_us_form">
    {% csrf_token %}
        <input name="title" type="text" placeholder="title">
        <input name="email" type="text" placeholder="email">
        <textarea name="text" placeholder="Text"></textarea>
        <button type="submit">Login</button>
    </form>
{% endblock %}



{#    <form method="post" id="contact_us_form">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit">Login</button>#}
{#    </form>#}